<nav class="navbar navbar-inverse navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid collapse navbar-collapse">
    <span class="navbar-brand mb-0 h1 text-light">ECOTAPIZ</span>
      <ul id="barra" class="nav navbar-nav ml-auto">
        <div class="dropdown">
          <li class="nav-item mr-2 hoverable nav-link text-light dropdown-toggle" data-toggle="dropdown">Principal</li>
          <ul class="dropdown-menu bg-dark">
            <li><a id="len1" class="text-light pl-1" routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a href="#" class="text-light pl-1">Sobre Nosotros</a></li>
          </ul>
        </div>
        <li class="nav-item mr-2"><a id="len2" class="hoverable nav-link text-light" routerLink="/simulador" routerLinkActive="active">Simulador</a></li>
        <li class="nav-item mr-2"><a id="len3" class="hoverable nav-link text-light" routerLink="/catalogo" routerLinkActive="active">Productos</a></li>
        <li class="nav-item mr-2"><a id="len4" class="hoverable nav-link text-light" routerLink="/blog" routerLinkActive="active">Noticias</a></li>
        <li class="nav-item mr-2"><a id="len4" class="hoverable nav-link text-light" routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
        <li class="nav-item mr-2"><a id="len4" class="hoverable nav-link text-light" routerLink="/admin" routerLinkActive="active">Login</a></li>
      </ul>
    </div>
  </nav>