<nav class="navbar navbar-inverse navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid collapse navbar-collapse">
    <span class="navbar-brand mb-0 h1 text-light">ECOTAPIZ</span>
      <ul id="barra" class="nav navbar-nav ml-auto">
        <li class="nav-item mr-2"><a id="len1" class="hoverable nav-link text-light" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="nav-item mr-2"><a id="len2" class="hoverable nav-link text-light" routerLink="/simulador/app" routerLinkActive="active">Simulador</a></li>
        <li class="nav-item mr-2"><a id="len3" class="hoverable nav-link text-light" routerLink="/catalogo" routerLinkActive="active">Productos</a></li>
        <li class="nav-item mr-2"><a id="len4" class="hoverable nav-link text-light" routerLink="/blog" routerLinkActive="active">Blog</a></li>
        <li class="nav-item mr-2"><a id="len4" class="hoverable nav-link text-light" routerLink="/contacto" routerLinkActive="active">Contactanos</a></li>
        <li class="nav-item mr-2"><a id="len4" class="hoverable nav-link text-light" routerLink="/admin" routerLinkActive="active">Login</a></li>
      </ul>
    </div>
  </nav>