<nav class="navbar navbar-inverse navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid collapse navbar-collapse">
    <span class="navbar-brand mb-0 h1 text-light">ECOTAPIZ</span>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item mr-2"><a id="len1" class="hoverable nav-link text-light" href="#">Home</a></li>
        <li class="nav-item mr-2"><a id="len2" class="hoverable nav-link text-light" href="#">Simulador</a></li>
        <li class="nav-item mr-2"><a id="len3" class="hoverable nav-link text-light" href="#">Productos</a></li>
        <li class="nav-item mr-2"><a id="len4" class="hoverable nav-link text-light" href="#">Blog</a></li>
        <li class="nav-item mr-2"><a id="len4" class="hoverable nav-link text-light" href="#">Contactanos</a></li>
      </ul>
    </div>
  </nav>