<div class="container well">
    <div class="row">
        <div class="col-xs-12">
            <h2>Clientes</h2>
        </div>
    </div>

    <form class="text-center">
        <h6>Ingrese los datos del cliente</h6>
        <p>Nombre: <input type="text" name="nombre"></p>
        <p>Apellido: <input type="text" name="apellido"></p>
        <p>Teléfono: <input type="text" name="teléfono"></p>
        <p>Correo: <input type="email" name="correo"></p>
        
      
        <input type="submit" value="Guardar">
      
      </form>
</div>