app-nav-simulador{
    background-color: red;
    width: 100%;
}
app-vista-prev{
    background-color: blue;
    width: 50%;

    z-index: -2;
}


/*Aquí van las difererentes ventanas del mini catálogo del simulador*/
app-modelo{
    margin: 4%;
    background-color: #96C0EB;
    background-opacity: 50%;
    width: 50%;
    border-radius: 10%;
}
app-materiales{
    margin: 4%;
    background-color: #96C0EB;
    background-opacity: 50%;
    width: 50%;
    border-radius: 10%;
}
app-disenio{
    position: relative;
    left: 5%;
    margin: 4%;
    background-color: #96C0EB;
    background-opacity: 50%;
    width: 33%;
    height: 20%;
    justify-content: center;

    border-radius: 10%;
}





div{
    display: flex;
    flex-direction: row;
}
