@import "src/styles.scss";

app-vista-prev{
    margin: 5%;
}

#submenu{
    display: flex;
    flex-direction: column;
    margin: 5%;
    
}
#simulador{
    display: flex;
    flex-direction: row;
    background-image: url("../../../assets/3d/fondo.jpg");
    background-size: 100% 100%;
    
}

@media ( max-width: 200000px ) {
    #submenu{
       width: 60%;
       
    }
    
    app-vista-prev{
        width: 30%;
        align-items: center;
        justify-content: center;
    }
    

}

@media ( max-width: 1024px ) {
    #simulador{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #submenu{
        width: 95%;
     }
     
     app-vista-prev{
         width: 95%;
     }
}

