@import "src/styles.scss";

app-nav-simulador{
    background-color: $col-primary;
    width: 100%;
}
app-vista-prev{
    background-color: blue;
    width: 50%;

    z-index: -2;
}
app-modelo{
    background-color:  $col-primary;
    width: 50%;
}
div{
    display: flex;
    flex-direction: row;
}
