
	<nav class="product-filter">
		<h1>Materiales</h1>

		<div class="sort">
			<div class="collection-sort">
				<label>Filtrar por:</label>
				<select id="filter-by">
					<option value="/">Todos los materiales</option>
		      <option value="/">Americano</option>
		      <option value="/">Campero</option>
		      <option value="/">Conventri</option>
					<option value="/">Cuero</option>
		      <option value="/">Doca</option>
		      <option value="/">ECOPV</option>
		      <option value="/">Expandible</option>
		      <option value="/">Mamut</option>
		      <option value="/">Tricot</option>
		   	</select>
			</div>

			<div class="collection-sort">
				<label>Ordenamiento:</label>
				<select id="sort-by">
					<option value="/">Ninguno</option>
					<option value="/">Alfabéticamente, A-Z</option>
		      <option value="/">Alfabéticamente, Z-A</option>
		      <option value="/">Mejor vendido</option>
		      <option value="/">Precio, ascendente</option>
		      <option value="/">Precio, descendente</option>
					<option value="/">Promociones</option>
		    </select>
			</div>
		</div>
	</nav>

	<section class="products">
		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Materiales/CueroDummy.jpg">
			</div>
			<div class="product-info">
				<h5>Americano negro [PLACEHOLDER]</h5>
				<h6>$13.99 m²</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Materiales/CueroDummy.jpg">
			</div>
			<div class="product-info">
				<h5>Americano negro [PLACEHOLDER]</h5>
				<h6>$13.99 m²</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Materiales/CueroDummy.jpg">
			</div>
			<div class="product-info">
				<h5>Americano negro [PLACEHOLDER]</h5>
				<h6>$13.99 m²</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Materiales/CueroDummy.jpg">
			</div>
			<div class="product-info">
				<h5>Americano negro [PLACEHOLDER]</h5>
				<h6>$13.99 m²</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Materiales/CueroDummy.jpg">
			</div>
			<div class="product-info">
				<h5>Americano negro [PLACEHOLDER]</h5>
				<h6>$13.99 m²</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Materiales/CueroDummy.jpg">
			</div>
			<div class="product-info">
				<h5>Americano negro [PLACEHOLDER]</h5>
				<h6>$13.99 m²</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Materiales/CueroDummy.jpg">
			</div>
			<div class="product-info">
				<h5>Americano negro [PLACEHOLDER]</h5>
				<h6>$13.99 m²</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Materiales/CueroDummy.jpg">
			</div>
			<div class="product-info">
				<h5>Americano negro [PLACEHOLDER]</h5>
				<h6>$13.99 m²</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Materiales/CueroDummy.jpg">
			</div>
			<div class="product-info">
				<h5>Americano negro [PLACEHOLDER]</h5>
				<h6>$13.99 m²</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Materiales/CueroDummy.jpg">
			</div>
			<div class="product-info">
				<h5>Americano negro [PLACEHOLDER]</h5>
				<h6>$13.99 m²</h6>
			</div>
		</div>

	</section>
