
	<nav class="product-filter">
		<h1>Materiales</h1>

		<div class="sort">
			<div class="collection-sort">
				<label>Filtrar por:</label>
				<select id="filter-by">
					<option value="/">Todos los materiales</option>
		      <option value="/">Americano</option>
		      <option value="/">Campero</option>
		      <option value="/">Conventri</option>
					<option value="/">Cuero</option>
		      <option value="/">Doca</option>
		      <option value="/">ECOPV</option>
		      <option value="/">Expandible</option>
		      <option value="/">Mamut</option>
		      <option value="/">Tricot</option>
		   	</select>
			</div>

			<div class="collection-sort">
				<label>Ordenamiento:</label>
				<select id="sort-by">
					<option value="/">Ninguno</option>
					<option value="/">Alfabéticamente, A-Z</option>
		      <option value="/">Alfabéticamente, Z-A</option>
		      <option value="/">Best Selling</option>
		      <option value="/">Precio, ascendente</option>
		      <option value="/">Precio, descendente</option>
					<option value="/">Promociones</option>
		    </select>
			</div>
		</div>
	</nav>

	<section class="products">
		<div class="product-card">
			<div class="product-image">
				<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
			</div>
			<div class="product-info">
				<h5>Winter Jacket</h5>
				<h6>$99.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
			</div>
			<div class="product-info">
				<h5>Winter Jacket</h5>
				<h6>$99.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
			</div>
			<div class="product-info">
				<h5>Winter Jacket</h5>
				<h6>$99.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
			</div>
			<div class="product-info">
				<h5>Winter Jacket</h5>
				<h6>$99.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
			</div>
			<div class="product-info">
				<h5>Winter Jacket</h5>
				<h6>$99.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
			</div>
			<div class="product-info">
				<h5>Winter Jacket</h5>
				<h6>$99.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
			</div>
			<div class="product-info">
				<h5>Winter Jacket</h5>
				<h6>$99.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
			</div>
			<div class="product-info">
				<h5>Winter Jacket</h5>
				<h6>$99.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
			</div>
			<div class="product-info">
				<h5>Winter Jacket</h5>
				<h6>$99.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
			</div>
			<div class="product-info">
				<h5>Winter Jacket</h5>
				<h6>$99.99</h6>
			</div>
		</div>

	</section>
