<nav class="product-filter">

	<div class="sort">
		<div class="collection-sort">
			<label>Filtrar por:</label>
			<select id="filter-by" #filter (change)='llenarDatos(filter.value)'>
				<option [value]="tipo" *ngFor="let tipo of tipos">{{tipo}}</option>
			</select>
		</div>

		<div class="collection-sort">
			<label>Ordenamiento:</label>
			<select id="sort-by" #sorts (change)='ordenar(sorts.value)'>
				<option value="Ninguno">Ninguno</option>
				<option value="Alfabéticamente">Alfabéticamente, A-Z</option>
				<option value="Mejor">Mejor vendido</option>
			</select>
		</div>
	</div>
</nav>

<section class="products">
	<div class="product-card" *ngFor="let material of materiales" (click)='this.simuladorService.addMaterial(material)' [ngClass]="this.simuladorService.simulacion.materiales.includes( material )? 'product-card-select' : 'product-card'">
		<div class="product-image">
			<img src={{material.img}}>
		</div>
		<div class="product-info">
			<h6>{{material.nombre}}</h6>
		</div>
	</div>


</section>