@import "src/styles.scss";

body {
    padding-top: 56px;
  }
  
.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
.portfolio-item {
    margin-bottom: 30px;
}

.bgimg1 {
    background-image: url('../../../assets/images/home/trapestry_1900x1080.jpg');
}

.bgimg2 {
    background-image: url('../../../assets/images/home/trapesty1_1900x1080.jpg');
}

.bgimg3 {
    background-image: url('../../../assets/images/home/trapestry2_1900x1080.jpg');
}

.bgimg-gen{
    background-image: url('../../../assets/images/home/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#vertical {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.frame{
    width: 100%; 
    height: 100%;
}

.titulo{
    font-family: $font-titulos;
    color: $col-secundary;
}

.titulo-dark{
    font-family: $font-titulos;
    color: $col-five;
}

.parrafo{
    font-family: $font-parrafos;
    color: $col-secundary;
}

.parrafo-dark{
    font-family: $font-parrafos;
    color: $col-five;
}

.fondo{
    background: $col-five;
}

.btn{
    background: $col-five;
    border: solid $col-secundary;
    border-width: 0.01rem;
    font-family: $font-parrafos;
    color: $col-secundary;
}

.btn:hover{
    background: $col-for;
}


hr{
    border-top: solid $col-secundary;
}


