body {
    padding-top: 56px;
  }
  
.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
.portfolio-item {
    margin-bottom: 30px;
}

.bgimg1 {
    background-image: url('../../../assets/images/home/trapestry_1900x1080.jpg');
}

.bgimg2 {
    background-image: url('../../../assets/images/trapesty1_1900x1080.jpg');
}

.bgimg3 {
    background-image: url('../../../assets/images/trapestry2_1900x1080.jpg');
}

.bgimg-gen{
    background-image: url('../../../assets/images/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}