<div class="bgimg-gen">
    <div>
        <div class="container py-5">
          <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6 text-light py-5">
              <h1 class="display-4">¿Quiénes somos?</h1>
              <p class="leaad mb-0">Somos Ecotapiz, una compañia dedicada al tapizado personalizado de asientos de vehiculos, radicados en la ciudad de Guayaquil, Ecuador. </p>
              <p class="leaad mb-0">ECOTAPIZ 25 años al servicio de profesionales y amigos de la tapicería</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block mx-auto fondo">
            <img src="../../../assets/images/general/LOGO.webp" alt="" class="img-fluid">
            <img src="../../../assets/images/general/carSeat.png" alt="" class="img-fluid">
          </div>
          </div>
        </div>
      </div>
      
      <div class="py-5">
        <div class="container py-5">
          <div class="row align-items-center mb-5 text-light">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-leaf fa-2x mb-3 color"></i>
              <h2 class="font-weight-light">Misión</h2>
              <p class="font-italic mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../../../assets/images/general/vector-calidad-certificado-icono-clip-art-vectorial_csp61316566.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
          </div>
          <div class="row align-items-center text-light">
            <div class="col-lg-5 px-5 mx-auto"><img src="../../../assets/images/general/58946244-visión-del-concepto-icono-y-símbolo.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 color"></i>
              <h2 class="font-weight-light">Visión</h2>
              <p class="font-italic mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="py-5">
        <div class="container py-5">
          <div class="row mb-4 text-light">
            <div class="col-lg-5 text">
              <h2 class="display-4 font-weight-light">Nuestro Equipo</h2>
              <p class="font-italic text-muted">La pagina Ecotapiz fue diseñada por los siguientes integrantes:</p>
            </div>
          </div>
      
          <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="fondo rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Juan Nebel</h5><span class="small text-uppercase text-muted">Jefe de Direccion de Proyecto</span>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End-->
            
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="fondo rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Iliana Bolaños</h5><span class="small text-uppercase text-muted">CEO - Fundador</span>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="fondo rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Allison Brito</h5><span class="small text-uppercase text-muted">Tester</span>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="fondo rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Marlon Lindao</h5><span class="small text-uppercase text-muted">Programador</span>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End-->
      
          </div>
        </div>
      </div>
</div>

