@import "src/styles.scss";


h2{
    font-family: $font-titulos;
    color: $col-secundary;
}

hr{
    border-top: solid $col-secundary;
}


.bgimg-gen{
    background-image: url('../../../assets/images/home/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

