
<div id="productMain" class="row bg-transparent">
    <div class="col-md-6 pt-5">
      <div data-slider-id="1" class="face front">
        <div class="item"> <img src={{itemObject.src}} alt="" class="img-fluid example"></div>
      </div>
      <div class="ribbon sale pt-5">
        <div class="theribbon">SALE</div>
        <div class="ribbon-background"></div>
      </div>
      <!-- /.ribbon-->
      <div class="ribbon new pt-5">
        <div class="theribbon">NEW</div>
        <div class="ribbon-background"></div>
      </div>
      <!-- /.ribbon-->
    </div>
    <div class="col-md-6 pt-5">
      <div class="box">
        <h1 class="text-center">{{itemObject.titulo}}</h1>
        <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material &amp; care and sizing</a></p>
        <p class="price">${{itemObject.precio}}</p>
        <p class="text-center buttons"><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a><a href="basket.html" class="btn btn-outline-primary"><i class="fa fa-heart"></i> Add to wishlist</a></p>
      </div>
    </div>
  </div>
  <div id="details" class="box pt-5">
    <p></p>
    <h4>Product details</h4>
    <p>{{itemObject.contenido}}</p>
    <h4>Material</h4>
    <ul>
      <li>Polyester</li>
    </ul>
    <h4>Modelo</h4>
    <ul>
      <li>Vieja Escuela</li>
    </ul>
    <blockquote>
      <p><em>{{itemObject.contenido}}</em></p>
    </blockquote>
    <hr>
    <div class="social">
      <h4>Show it to your friends</h4>
      <p><a href="#" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" class="email"><i class="fa fa-envelope"></i></a></p>
    </div>
  </div>
  <div class="row same-height-row">
    <div class="col-md-3 col-sm-6">
      <div class="box same-height">
        <h3>You may also like these products</h3>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      
    </div>
