
.btn-outline-dark{
	width: 50px;
	border-radius: 50%;
	font-size: 20px;
	height: 50px;
	border: 2px solid;
}

.agrupa-btn-add{
	display:flex;
	padding-left: 50px;
	
	justify-content: center;
	align-items: center;
}




.container{
	display: inline-block;
}



.modal-content{
	max-height: 100%;
	min-width: 60%;
}

.titulo{
	text-align: center;
  }

  .botones{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  }

  .lbl-caracter{
	  font-size: small;
	  font-family: "Arvo";
	   
	  text-transform: none;
	  font-weight: bold;
	  padding-top: 5px;

  } 



  
  .contenedor-btn{
	  display: flex;
	  justify-content: center;
  }

  .titulo{
	font-family: "Arvo";
	font-weight: bold;
	  text-align: center;
  }

  .group-element{
	  display: inline;
  }


  
  .estilo-file-form{
	float: right;
	  }
	
	  .estilo-input-form{
		float: right;
		  border: 1px solid gray;
		  border-radius: 6px;
	  }
	
	 .modal-body{
		 
		border:2px solid gray;
	
	 }
	
	 
	 .btn-dark:hover{
		 background: var(--color-rojo);
		 border: var(--color-rojo);
	 }

	 *{
		font-family:'Roboto';
	}