<div class="menu">


<ul>
    <li class="clickeable"><img src="../../../../assets/imagenes/car.png" alt=""><a [routerLink]="['/simulador/app',{outlets:{'app': 'modelo'}}]" >Vehículo</a></li>
    <li class="clickeable"><img src="../../../../assets/imagenes/disenio.jpg" alt=""><a [routerLink]="[ {outlets: {'app': 'disenio'}}]">Plantillas</a></li>
    <li class="clickeable"><img src="../../../../assets/imagenes/materiales.jpg" alt=""><a [routerLink]="[ {outlets: {'app': 'materiales'}}]">Material</a></li>
    <li class="clickeable"><img src="../../../../assets/imagenes/cotizacion.jpg" alt=""><a [routerLink]="[ {outlets: {'app': 'cotizacion'}}]">Cotización</a></li>
  </ul>
</div>