@import "src/styles.scss";

a:link, a:visited, a:active {
  text-decoration:none;

}

.menu {
    width: 100%;

  }
  ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    
    flex-direction: row;
justify-content: center;
   align-items: center;
  }
  .menu ul li {
    background-color:transparent;
    display: flex;
    flex-direction: row;
justify-content: center;
   align-items: center;
    border: 1px solid $col-primary;
    border-radius: 10px;
    list-style-type: none;
    width: 25%;
  

  }


  .menu ul li:hover {
    background-color: $col-secundary;   
    width: 40%;
    
  }
  a:hover{
    color :$col-secundary;  }
  
  .menu ul li a {
    
    font-family:  $font-titulos;
    color: $col-five;
    padding: 4%;
    font-size: 0.75rem;;
  }
  img{
    border-radius: 15px;
      width: 20px;
      height: 20px;

  }

