@import "src/styles.scss";

.menu {
    width: 100%;
    float: center;
 
    text-align: center;
  }
  
  .menu ul li {
    display:inline-block;
    list-style-type: none;
    text-align: left;
    background-color: primary;
    
    
  }
  
  .menu ul li a {
    font-family:  $font-titulos;
    padding: 10px;
  }
  img{
      width: 25px;
      height: 25px;
  }