<div class="menu">


<ul>
    <li class="btn btn4"><img src="../../../../assets/imagenes/car.png" alt=""><a [routerLink]="[ {outlets: {'app': 'modelo'}}]" >Auto</a></li>
    <li class="btn btn4"><img src="../../../../assets/imagenes/disenio.jpg" alt=""><a [routerLink]="[ {outlets: {'app': 'disenio'}}]">Diseño</a></li>
    <li class="btn btn4"><img src="../../../../assets/imagenes/materiales.jpg" alt=""><a [routerLink]="[ {outlets: {'app': 'materiales'}}]">Materiales</a></li>
    <li class="btn btn4 cot"><img src="../../../../assets/imagenes/cotizacion.jpg" alt=""><a [routerLink]="[ {outlets: {'app': 'cotizacion'}}]">Cotización</a></li>
  </ul>
</div>