<div class="row pb-5" id="contenedor-catalogo">
    <div class="col-lg-4 col-sm-6 portfolio-item pb-4 example2">
        <ng-template appCatalogo></ng-template>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item pb-4 example2">
        <ng-template appCatalogo2></ng-template>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item pb-4 example2">
        <ng-template appCatalogo3></ng-template>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item pb-4 example2">
        <ng-template appCatalogo4></ng-template>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item pb-4 example2">
        <ng-template appCatalogo5></ng-template>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item pb-4 example2">
        <ng-template appCatalogo6></ng-template>
    </div>
</div>
