

<div class="container-fluid ">
  <h1 class="my-4 text-light">Catalogo</h1>
  <div class="">
      <div class="">
          <div class="card">
              <article class="filter-group">
                  <header class="card-header"> 
                    <a href="#" data-toggle="collapse" data-target="#collapse_aside1" data-abc="true" aria-expanded="false" class="collapsed"> 
                          <h6 class="title">Materiales <i class="icon-control fa fa-chevron-down"></i> </h6> 
                    </a> 
                  </header>
                  <div class="filter-content collapse" id="collapse_aside1">
                      <div class="card-body">
                        <div class="list-group">
                              <a [routerLink]="['/catalogo/child',{outlets:{'child': 'main'}}]" 
                                class="list-group-item parrafo-dark">Ver todos los productos</a>
                              <a *ngFor="let material of listMateriales" 
                              [routerLink]="['/catalogo/child',{id: material.id},{outlets:{'child': 'result'}}]" (click)="goToResults(material.id)"
                                class="list-group-item parrafo-dark">{{material.nombre}}</a>
                        </div>
                      </div>
                  </div>
              </article>
          </div>
      </div>
  </div>
</div>
