
	<nav class="product-filter">
		<h1>Modelo de asiento</h1>

		<div class="sort">
			<div class="collection-sort">
				<label>Filtrar por:</label>
				<select id="filter-by">
          <option value="/">Todos las marcas</option>
          <option value="/">BMW</option>
          <option value="/">Chevrolet</option>
          <option value="/">Ford</option>
          <option value="/">KIA</option>
          <option value="/">Mazda</option>
          <option value="/">Nissan</option>
		      <option value="/">Volvo</option>
		   	</select>
			</div>

			<div class="collection-sort">
				<label>Ordenamiento:</label>
				<select id="sort-by">
					<option value="/">Ninguno</option>
					<option value="/">Alfabéticamente, A-Z</option>
		      <option value="/">Alfabéticamente, Z-A</option>
		      <option value="/">Mejor vendido</option>
		      <option value="/">Precio, ascendente</option>
		      <option value="/">Precio, descendente</option>
					<option value="/">Promociones</option>
		    </select>
			</div>
		</div>
	</nav>

	<section class="products">
		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Modelo/ModeloDummy1.jpg">
			</div>
			<div class="product-info">
				<h5>Moderno [PLACEHOLDER]</h5>
				<h6>$19.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Modelo/ModeloDummy2.jpg">
			</div>
			<div class="product-info">
        <h5>Vieja escuela [PLACEHOLDER]</h5>
				<h6>$14.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Modelo/ModeloDummy3.jpg">
			</div>
			<div class="product-info">
        <h5>Lujo y confort [PLACEHOLDER]</h5>
				<h6>$23.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Modelo/ModeloDummy1.jpg">
			</div>
			<div class="product-info">
        <h5>Moderno [PLACEHOLDER]</h5>
				<h6>$19.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Modelo/ModeloDummy5.jpg">
			</div>
			<div class="product-info">
				<h5>Rombos bordados [PLACEHOLDER]</h5>
				<h6>$12.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Modelo/ModeloDummy3.jpg">
			</div>
			<div class="product-info">
        <h5>Lujo y confort [PLACEHOLDER]</h5>
				<h6>$23.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Modelo/ModeloDummy1.jpg">
			</div>
			<div class="product-info">
        <h5>Moderno [PLACEHOLDER]</h5>
				<h6>$19.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Modelo/ModeloDummy2.jpg">
			</div>
			<div class="product-info">
        <h5>Vieja escuela [PLACEHOLDER]</h5>
				<h6>$14.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Modelo/ModeloDummy3.jpg">
			</div>
			<div class="product-info">
        <h5>Lujo y confort [PLACEHOLDER]</h5>
				<h6>$23.99</h6>
			</div>
		</div>

		<div class="product-card">
			<div class="product-image">
				<img src="./assets/ImagenesBorrar/Simulador_Modelo/ModeloDummy5.jpg">
			</div>
			<div class="product-info">
        <h5>Rombos bordados [PLACEHOLDER]</h5>
				<h6>$12.99</h6>
			</div>
		</div>

	</section>
