/* Adaptación*/
/*
.search-box {
  position: absolute;
 top: 10%;
 left:80%;
 background: #48638a;
 height: 40px;
 border-radius: 40px;
 padding: 10px;
}

.search-box:hover > .search-txt {
 width: 240px;
 padding: 0 6px;
}

.search-box:hover > .search-btn {
 background: white;
 color: black;
}

.search-btn {
 color: #e84118;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #48638a;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: black;
 cursor: pointer;
}

.search-btn > i {
 font-size: 30px;
}

.search-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
}




*/




























/* Mi solución

.search-box {
 top: 50%;
 left: 50%;
 background: #48638a;
 height: 40px;
 border-radius: 40px;
 padding: 10px;
}

.search-txt {
 border-radius: 40px;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;


 line-height: 40px;
 width: 240px;
}

 .search-btn{
   color: #ffffff;
   float: right;
   widht: 40px;
   height: 40 px;
   border-radius: 50%;
   background: #48638a;
   display: flex;
   justify-content: center;
   align-items: center;
 }

*/






/* Test area
transform: translate(-50%, -50%); // Esto jode bastante
height: 40px;
border-radius: 40px;
padding: 10px;

*/



/*Solución search bar 2*/
/*



.search-box {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: #2f3640;
 height: 40px;
 border-radius: 40px;
 padding: 10px;
}

.search-box:hover > .search-txt {
 width: 240px;
 padding: 0 6px;
}

.search-box:hover > .search-btn {
 background: white;
 color: black;
}

.search-btn {
 color: #e84118;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #2f3640;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: white;
 cursor: pointer;
}

.search-btn > i {
 font-size: 30px;
}

.search-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
}

*/









/* Solución search bar 1 */

/*Label Modelo*/

.modelo{
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  margin: 5%;

}

/*Search Bar*/

/* Creo que no es necesario
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #26547C;
}
*/


.container {
  width: 100%; /*100vw*/
  height: 10%; /*10vh*/
  display: flex;
  justify-content: left;
  align-items: center;
}
.container .searchbox {
  position: relative;
  display: block;
  width: 100%;
  max-width: 53px; /*Dejar en pixeles para que viva el search bar[JF]*/
  transition: 0.4s linear;
  overflow: hidden;
}
.container .searchbox .searchbox__input {
  display: block;
  appearance: none;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #24233A;
  padding: 15px;
  color: #24233A;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s linear;
}
.container .searchbox .searchbox__input::placeholder {
  color: #24233A;
}
.container .searchbox .searchbox__icon {
  position: absolute;
  right: calc(53px / 2);
  top: 50%;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.container .searchbox .searchbox__icon path {
  fill: #ffffff;
  transition: 0.4s linear;
}


.container .searchbox:focus-within {
  max-width: 300px;
}

.container .searchbox:focus-within .searchbox__input {
  background-color: #FFF;
  padding-right: 50px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.container .searchbox:focus-within .searchbox__icon path {
  fill: #24233A;
}


/*Imagenes*/

.column {
  float: left;
  width: 100%;
  padding: 10px;
}

.column img {
  margin-bottom: 12px;
  border-radius: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
