@import "src/styles.scss";

.bgimg-gen{
    background-image: url('../../../assets/images/home/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn{
    background: $col-five;
    border: solid $col-secundary;
    border-width: 0.01rem;
    font-family: $font-parrafos;
    color: $col-secundary;
}

.btn:hover{
    background: $col-for;
    color: $col-five;
}

h1{
    font-family: $font-titulos;
    color: $col-secundary;
}

h5{
    font-family: $font-titulos;
    color: $col-five;
}

.parrafo-dark{
    font-family: $font-parrafos;
    color: $col-five;
}