<div class="bgimg-gen">
    <div class="container">
  
      <!-- Page Heading/Breadcrumbs -->
      <div class="row">
        <h1 class="mt-4 mb-3">Noticias
        </h1>
      </div>
  
      
      <div class="row">
        
        <div class="col-md-8">
            <router-outlet name="aux"></router-outlet>
        </div>
        
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
  
          <!-- Search Widget -->
          <div class="card mb-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-append">
                  <button class="btn" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
  
          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a class="parrafo-dark" href="https://www.picuki.com/tag/Ecotapiz">Ecotapiz</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
  
  
        </div>
  
      </div>
      <!-- /.row -->
  
    </div>
    <!-- /.container -->
  </div>
