<body>
<div id="price">
  <!--price tab-->
  <div class="plan standard">
    <div class="plan-inner">
      <div class="entry-title">
        <h3>COTIZACIÓN</h3>
        <div class="price">$75<span>/PER TOTAL</span>
        </div>
      </div>
      <div class="entry-content">
        <ul>
          <li><strong>5x</strong> Asientos Chevrolet Spark</li>
          <li><strong>Diseño: </strong> Marruecos</li>
          <li><strong>Material: </strong>Cuero de vaca</li>
          <li><strong>10</strong> Metros cuadrados</li>
        </ul>
      </div>
      <div class="btn">
        <a href="#">Colocar orden</a>
      </div>
    </div>
  </div>
 </div>
  <!-- end of price tab-->
</body>
