<body>
<div id="price">
  <!--price tab-->
  <div class="plan standard">
    <div class="plan-inner">
      <div class="entry-title">
        <h3>Super Wash</h3>
        <div class="price">$75<span>/PER TOTAL</span>
        </div>
      </div>
      <div class="entry-content">
        <ul>
          <li><strong>2x</strong> Free Entrance</li>
          <li><strong>Free</strong> Snacks</li>
          <li><strong>Custom</strong> Swags</li>
          <li><strong>2x</strong> Certificate</li>
          <li><strong>Free</strong> Wifi</li>
        </ul>
      </div>
      <div class="btn">
        <a href="#">Order Now</a>
      </div>
    </div>
  </div>
 </div>
  <!-- end of price tab-->
</body>
