<div class="bgimg-gen">
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
      <h1 class="mt-4 mb-3 text-light">Contacto
        <small></small>
      </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
      <!-- Map Column -->
      <div class="col-lg-8 mb-4">
        <!-- Embedded Google Map -->
        <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15947.59793922926!2d-79.8958144!3d-2.1917568!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5f917d81aabd452e!2sECOTAPIZ!5e0!3m2!1sen!2sec!4v1594578248071!5m2!1sen!2sec"></iframe>
      </div>
      <!-- Contact Details Column -->
      <div class="col-lg-4 mb-2 text-light">
        <h3 class="pt-3">Detalle del Contacto: </h3>
        <p>
          Ubicacion:
          Ecuador, Guayaquil
          <br> Clemente ballen entre tulcan y los rios
          <br>
        </p>
        <p>
          <abbr title="Phone">P</abbr>: 0991058105
        </p>
        <p>
          <abbr title="Email">E</abbr>:
          <a href="mailto:name@example.com">politapiz@hotmail.com
          </a>
        </p>
        <p>
          <abbr title="Hours">H</abbr>: Lunes - Viernes: 9 a. m. - 5:30 p. m.
        </p>
        <p>
          <abbr title="Hours">H</abbr>: Sábado: 9 a. m. - 12:30 p. m.
        </p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row text-light">
      <div class="col-lg-8 mb-4">
        <h3>Envienos su mensaje: </h3>
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="control-group form-group">
            <div class="controls">
              <label>Nombre:</label>
              <input type="text" class="form-control bg-dark text-light" id="name" required data-validation-required-message="Please enter your name.">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Fecha de Nacimiento:</label>
              <input type="date" class="form-control bg-dark text-light" id="date" required data-validation-required-message="Please enter your phone number.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Seleccione su lugar de Nacimiento:</label>
              <!--<input type="button" class="form-control bg-dark text-light dropdown-toggle" id="place dropdownMenuButton" required data-validation-required-message="Please enter your email address." data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
              <div class="dropdown d-inline">
                <button class=" btn form-control btn-primary dropdown-toggle" type="button" id="dropdownMenuButton place" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seleccione su lugar de origen
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="menu">
                    <li class="dropdown-item" >Mostrar Todos</li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Correo Electronico:</label>
              <input type="email" class="form-control bg-dark text-light" id="email" required data-validation-required-message="Please enter your email address.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Mensaje:</label>
              <textarea rows="10" cols="100" class="form-control bg-dark text-light" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>
        </form>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
