<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Reportes de Producto</h1>

<div class="filter-g">

    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">


        


    </form>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-gray-800">Recopilación de productos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <div class="row">
                <div class="col-sm-12 col-md-6 alinear">
                    <div class="dataTables_length" id="dataTable_length">
                        <label>Mostrar entradas
                            <select name="dataTable_length" aria-controls="dataTable"
                                class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>

                        </label>
                    </div>
                </div>
                <nav class="product-filter">

                    <div class="sort">
                        <div class="dataTables_length" id="dataTable_length">
                            <label>Filtrar por Material:
                                <select [(ngModel)]="selected" placeholder="select" name="dataTable_length" aria-controls="dataTable"
                                    class="custom-select custom-select-sm form-control form-control-sm"
                                    (ngModelChange)="onOptionsSelected()">
                                    <option [ngValue]="-1" id="todos">Todos</option>
                                    <option *ngFor="let material of listMateriales" [ngValue]="material.id" id="todos">{{material.nombre}}</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </nav>
            </div>




            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Contenido</th>
                        <th>Precio  </th>
                        <th>Calificación</th>
                        <th>Material</th>
                   </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Título</th>
                        <th>Contenido</th>
                        <th>Precio  </th>
                        <th>Calificación</th>
                        <th>Material</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td>{{item.titulo}}</td>
                        <td>{{item.contenido}}</td>
                        <td>$ {{item.precio | number:'1.2-2'}}</td>
                        <td>{{item.calificacion}}</td>
                        <td>{{item.material}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>