<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Reportes de Producto</h1>

<div class="filter-g">

    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">


        <nav class="product-filter">

            <div class="sort">
                <div class="dataTables_length" id="dataTable_length">
                    <label>Filtrar por:
                        <select name="dataTable_length" aria-controls="dataTable"
                            class="custom-select custom-select-sm form-control form-control-sm">
                            <option value="todos" id="todos">Todos</option>
                            
                        </select>
                    </label>
                </div>
            </div>
        </nav>


    </form>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-gray-800">Recopilación de productos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <div class="row">
                <div class="col-sm-12 col-md-6 alinear">
                    <div class="dataTables_length" id="dataTable_length">
                        <label>Mostrar entradas
                            <select name="dataTable_length" aria-controls="dataTable"
                                class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>

                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 alinear">
                    <div id="dataTable_filter" class="dataTables_filter"><label>Buscar:<input type="search"
                                class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                    </div>
                </div>
            </div>




            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Contenido</th>
                        <th>Precio</th>
                        <th>Calificación</th>
                        <th>Material</th>
                   </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Título</th>
                        <th>Contenido</th>
                        <th>Precio</th>
                        <th>Calificación</th>
                        <th>Material</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Esto es un titulo</td>
                        <td>Esto es un contenido</td>
                        <td>Esto es un precio</td>
                        <td>Esta es una calificacion</td>
                        <td>Esto es un material</td>
                    </tr>
                    <tr>
                       <td>Esto es un titulo</td>
                        <td>Esto es un contenido</td>
                        <td>Esto es un precio</td>
                        <td>Esta es una calificacion</td>
                        <td>Esto es un material</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>